<a href="https://colab.research.google.com/github/maglelongshane/Numerical-Method-58012/blob/main/Control_and_Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If Statement

In [1]:
a = 12
b = 100

if b > a:
    print ("b is greater than a")

b is greater than a

Elif Statement

In [24]:
a = 100
b = 50

if b > a:
  print ("b is greater than a")
elif b == a:
  print ("a and b are equal")

Else Statement

In [3]:
if b > a:
  print ("b is greater than a")
elif b == a:
  print ("a and b are equal")
else:
  print ("a is greater than b")

a is greater than b

Short hand if statement

In [4]:
if a > b: print ("a is greater than b")

a is greater than b

Short hand if else statement

In [5]:
print ("b is greater than a") if b > a else print ("a is greater than b")

a is greater than b

And if both conditions are true

In [6]:
a = 100
b = 10
c = 45

if a > b and c > b:
  print ("both conditions are true")

both conditions are true

Or if both conditions is true

In [7]:
if a > b or b > c:
  print ("one condition is true")

one condition is true

Nested if

In [8]:
x = int(input())

if x > 10:
  print ("x is above 10")
  if x > 20:
    print ("x is above 20")
    if x > 30:
      print ("x is above 30")
      if x > 40:
        print ("x is above 40")
        if x > 50:
          print ("x is above 50")
        else:
          print ("x is below 50")
else:
  print ("x is below 19")

41
x is above 10
x is above 20
x is above 30
x is above 40
x is below 50

Appli 1

In [9]:
x = int(input())

if x > 0:
  print ("x is a positive number")
elif x == 0:
  print ("x is zero")
else:
  print ("x is a negative number")

-10
x is a negative number

Appli 2

In [10]:
grade = int(input())

if grade >= 70:
  print ("passed")
elif grade >= 64 and grade < 69:
    print ("remedial")
else:
  print ("failed")

90
passed

Appli 3

In [11]:
age = int(input())

if age >= 18:
  print ("you're qualified to vote")
else:
  print ("you're not qualified to vote")

19
you're qualified to vote

For loop

In [26]:
week = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

for x in week:
  print (x)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

Break statement

In [30]:
for x in week:
  print (x)
  if x == "Saturday":
    break

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Looping through a string

In [29]:
for x in "Monday":
  print (x)

M
o
n
d
a
y

Range() function

In [31]:
for x in range(11):
  print (x)

0
1
2
3
4
5
6
7
8
9
10

In [32]:
for x in range(3,11):
  print (x)

3
4
5
6
7
8
9
10

While loop

In [35]:
i = 1
while i < 6:
  print (i)
  i +=1

1
2
3
4
5

The break statement

In [34]:
i = 1
while i < 6:
  print (i)
  if i == 3:
    break
  i +=1

1
2
3

The continue statement

In [33]:
i = 1

while i < 6:
  i += 1
  if i == 3:
    continue
  print (i)

2
4
5
6